<h1>Add a New Ticket</h1>
<form action="/flights/<%= flight._id %>/tickets" method="post">
  <label for="seat">Seat:</label>
  <input type="text" name="seat" id="seat" required pattern="[A-F][1-9]\d?">

  <label for="price">Price:</label>
  <input type="number" name="price" id="price" required min="0">

  <button type="submit">Add Ticket</button>
</form>
